# PREPROCESSING

1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

2. Loading the Data

In [2]:
dataset=pd.read_csv("crop_yield.csv")
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,West,Silt,Rice,302.805345,27.987428,False,False,Sunny,76,1.347586
999996,South,Chalky,Barley,932.991383,39.661039,True,False,Rainy,93,7.311594
999997,North,Peaty,Cotton,867.362046,24.370042,True,False,Cloudy,108,5.763182
999998,West,Silt,Wheat,492.812857,33.045505,False,False,Sunny,102,2.070159
999999,West,Sandy,Maize,180.936180,27.298847,True,False,Sunny,76,2.937243

In [3]:
3. Checking for Missing Values

SyntaxError: invalid syntax (3789415125.py, line 1)

In [ ]:
dataset.isnull().sum()

4. Separating Quantitative and Qualitative Columns

In [ ]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        if(dataset[columnName].dtype=='O'):
            qual.append(columnName)
        else:
            quan.append(columnName)
    return quan,qual
quan,qual=quanQual(dataset)

In [ ]:
dataset[quan]

5. Imputing Missing Values in Quantitative Columns

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
print(quan)
new_dataset1=imp.fit(dataset[quan])
new_dataset1=imp.transform(dataset[quan])

In [ ]:
new_dataset1=pd.DataFrame(new_dataset1,columns=quan)
new_dataset1

6. Imputing Missing Values in Qualitative Columns

In [ ]:

imp2=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
new_dataset2=imp2.fit(dataset[qual])
new_dataset2=imp2.transform(dataset[qual])

In [ ]:
new_dataset2=pd.DataFrame(new_dataset2,columns=qual)
new_dataset2

7. Combining the Imputed DataFrames

In [ ]:
combined_data=pd.concat([new_dataset1,new_dataset2],axis=1)
combined_data

8.  Attempting to Fill Missing Values

In [4]:
dataset.fillna(combined_data,inplace=True)

NameError: name 'combined_data' is not defined

In [ ]:
dataset.isnull().sum()