In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("crop_yield.csv")
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,West,Silt,Rice,302.805345,27.987428,False,False,Sunny,76,1.347586
999996,South,Chalky,Barley,932.991383,39.661039,True,False,Rainy,93,7.311594
999997,North,Peaty,Cotton,867.362046,24.370042,True,False,Cloudy,108,5.763182
999998,West,Silt,Wheat,492.812857,33.045505,False,False,Sunny,102,2.070159
999999,West,Sandy,Maize,180.936180,27.298847,True,False,Sunny,76,2.937243

In [3]:
dataset.columns

Index(['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest', 'Yield_tons_per_hectare'],
      dtype='object')

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'dataset' is your DataFrame
categorical_columns = ['Crop','Soil_Type','Region','Weather_Condition'] 

for column in categorical_columns:
    le = LabelEncoder()
    dataset[column] = le.fit_transform(dataset[column])
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,3,4,1,897.077239,27.676966,False,True,0,122,6.555816
1,2,1,3,992.673282,18.026142,True,True,1,140,8.527341
2,1,2,0,147.998025,29.794042,False,False,2,106,1.127443
3,1,4,4,986.866331,16.644190,False,True,1,146,6.517573
4,2,5,5,730.379174,31.620687,True,True,0,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,3,5,3,302.805345,27.987428,False,False,2,76,1.347586
999996,2,0,0,932.991383,39.661039,True,False,1,93,7.311594
999997,1,3,1,867.362046,24.370042,True,False,0,108,5.763182
999998,3,5,5,492.812857,33.045505,False,False,2,102,2.070159
999999,3,4,2,180.936180,27.298847,True,False,2,76,2.937243

In [5]:
dataset.isnull().sum()

Region                    0
Soil_Type                 0
Crop                      0
Rainfall_mm               0
Temperature_Celsius       0
Fertilizer_Used           0
Irrigation_Used           0
Weather_Condition         0
Days_to_Harvest           0
Yield_tons_per_hectare    0
dtype: int64

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,3,4,1,897.077239,27.676966,False,True,0,122,6.555816
1,2,1,3,992.673282,18.026142,True,True,1,140,8.527341
2,1,2,0,147.998025,29.794042,False,False,2,106,1.127443
3,1,4,4,986.866331,16.644190,False,True,1,146,6.517573
4,2,5,5,730.379174,31.620687,True,True,0,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,3,5,3,302.805345,27.987428,False,False,2,76,1.347586
999996,2,0,0,932.991383,39.661039,True,False,1,93,7.311594
999997,1,3,1,867.362046,24.370042,True,False,0,108,5.763182
999998,3,5,5,492.812857,33.045505,False,False,2,102,2.070159
999999,3,4,2,180.936180,27.298847,True,False,2,76,2.937243

In [7]:
dataset.columns

Index(['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest', 'Yield_tons_per_hectare'],
      dtype='object')

In [8]:
independent=dataset[['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest']]

In [9]:
dependent=dataset[['Yield_tons_per_hectare']]

In [10]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [11]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_test

array([[ 4.46545709e-01, -8.76890200e-01,  8.78991218e-01, ...,
         1.00135091e+00, -4.59300504e-04,  2.11489012e-01],
       [-4.48105087e-01, -2.91535186e-01, -1.46361025e+00, ...,
         1.00135091e+00,  1.22434082e+00, -1.40639533e+00],
       [ 1.34119650e+00,  2.93819829e-01, -1.46361025e+00, ...,
        -9.98650909e-01, -4.59300504e-04, -1.21379005e+00],
       ...,
       [ 4.46545709e-01,  8.79174843e-01, -2.92309518e-01, ...,
         1.00135091e+00,  1.22434082e+00,  4.81136402e-01],
       [ 1.34119650e+00,  8.79174843e-01, -8.77959887e-01, ...,
         1.00135091e+00, -4.59300504e-04, -1.40639533e+00],
       [-1.34275588e+00, -8.76890200e-01,  2.93340850e-01, ...,
        -9.98650909e-01, -1.22525942e+00,  3.27052179e-01]])

In [12]:
scy = StandardScaler()
y_train = sc.fit_transform(y_train)
y_test = sc.transform(y_test)
y_test

array([[-0.93290413],
       [-0.40369085],
       [ 1.34157551],
       ...,
       [ 1.26487144],
       [-0.05715207],
       [-0.27764377]])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV


param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['sqrt', 'log2'],
    'n_estimators': [10, 100]
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)


grid.fit(X_train, y_train)

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression
import time

# Generate some sample data for demonstration
independent, dependent = make_regression(n_samples=100, n_features=5, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.2, random_state=42)

# Define the parameter grid to search
param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['sqrt', 'log2'],
    'n_estimators': [10, 100]
}

# Initialize the GridSearchCV object
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1, cv=5)

# Record the start time
start_time = time.time()

# Fit the GridSearchCV object to the training data
grid.fit(X_train, y_train)

# Record the end time
end_time = time.time()

# Calculate the run time
run_time = end_time - start_time

# Print the results
print(f"\nBest parameters found: {grid.best_params_}")
print(f"Best cross-validation score: {grid.best_score_:.4f}")
print(f"GridSearchCV run time: {run_time:.2f} seconds")

# You can now use the best estimator to make predictions
best_rf = grid.best_estimator_
# predictions = best_rf.predict(X_test)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

Best parameters found: {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}
Best cross-validation score: 0.7000
GridSearchCV run time: 3.08 seconds

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}: 0.6892227071027808

In [15]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.020578,0.003797,0.001760,0.000983,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.632973,0.694864,0.709509,0.682542,0.703125,0.684603,0.027344,4
1,0.185987,0.017750,0.008690,0.003296,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.677498,0.731048,0.776315,0.626952,0.679642,0.698291,0.051049,2
2,0.022795,0.007500,0.002003,0.001324,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.654987,0.716662,0.707490,0.551427,0.576110,0.641335,0.067193,6
3,0.178725,0.016137,0.008068,0.002158,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.701638,0.710839,0.793586,0.620122,0.674045,0.700046,0.056449,1
4,0.024164,0.003100,0.001850,0.000745,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.295814,0.512395,0.727416,0.576468,0.713710,0.565161,0.157387,8
5,0.172793,0.012586,0.006012,0.001017,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.651447,0.689337,0.727753,0.621217,0.668492,0.671649,0.035839,5
6,0.019847,0.000811,0.001161,0.001248,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.636755,0.574111,0.716119,0.532802,0.609929,0.613943,0.061882,7
7,0.157013,0.011479,0.003796,0.000690,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.687896,0.732880,0.779960,0.588764,0.683266,0.694553,0.063445,3