In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("crop_yield.csv")
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,West,Silt,Rice,302.805345,27.987428,False,False,Sunny,76,1.347586
999996,South,Chalky,Barley,932.991383,39.661039,True,False,Rainy,93,7.311594
999997,North,Peaty,Cotton,867.362046,24.370042,True,False,Cloudy,108,5.763182
999998,West,Silt,Wheat,492.812857,33.045505,False,False,Sunny,102,2.070159
999999,West,Sandy,Maize,180.936180,27.298847,True,False,Sunny,76,2.937243

In [3]:
dataset.columns

Index(['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest', 'Yield_tons_per_hectare'],
      dtype='object')

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'dataset' is your DataFrame
categorical_columns = ['Crop','Soil_Type','Region','Weather_Condition'] 

for column in categorical_columns:
    le = LabelEncoder()
    dataset[column] = le.fit_transform(dataset[column])
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,3,4,1,897.077239,27.676966,False,True,0,122,6.555816
1,2,1,3,992.673282,18.026142,True,True,1,140,8.527341
2,1,2,0,147.998025,29.794042,False,False,2,106,1.127443
3,1,4,4,986.866331,16.644190,False,True,1,146,6.517573
4,2,5,5,730.379174,31.620687,True,True,0,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,3,5,3,302.805345,27.987428,False,False,2,76,1.347586
999996,2,0,0,932.991383,39.661039,True,False,1,93,7.311594
999997,1,3,1,867.362046,24.370042,True,False,0,108,5.763182
999998,3,5,5,492.812857,33.045505,False,False,2,102,2.070159
999999,3,4,2,180.936180,27.298847,True,False,2,76,2.937243

In [5]:
dataset.isnull().sum()

Region                    0
Soil_Type                 0
Crop                      0
Rainfall_mm               0
Temperature_Celsius       0
Fertilizer_Used           0
Irrigation_Used           0
Weather_Condition         0
Days_to_Harvest           0
Yield_tons_per_hectare    0
dtype: int64

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,3,4,1,897.077239,27.676966,False,True,0,122,6.555816
1,2,1,3,992.673282,18.026142,True,True,1,140,8.527341
2,1,2,0,147.998025,29.794042,False,False,2,106,1.127443
3,1,4,4,986.866331,16.644190,False,True,1,146,6.517573
4,2,5,5,730.379174,31.620687,True,True,0,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,3,5,3,302.805345,27.987428,False,False,2,76,1.347586
999996,2,0,0,932.991383,39.661039,True,False,1,93,7.311594
999997,1,3,1,867.362046,24.370042,True,False,0,108,5.763182
999998,3,5,5,492.812857,33.045505,False,False,2,102,2.070159
999999,3,4,2,180.936180,27.298847,True,False,2,76,2.937243

In [7]:
dataset.columns

Index(['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest', 'Yield_tons_per_hectare'],
      dtype='object')

In [8]:
independent=dataset[['Region', 'Soil_Type', 'Crop', 'Rainfall_mm', 'Temperature_Celsius',
       'Fertilizer_Used', 'Irrigation_Used', 'Weather_Condition',
       'Days_to_Harvest']]

In [9]:
dependent=dataset[['Yield_tons_per_hectare']]

In [10]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [11]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV


param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['sqrt', 'log2'],
    'n_estimators': [10, 100]
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)


grid.fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits